*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: blueviolet;
  color: white;
}

.title {
  font-size: 20rem;
  margin-bottom: 10rem;
}

.numbers-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  position: absolute;
  bottom: 5%;
}

.number {
  width: 20rem;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;

  box-shadow: 0.3rem 0.5rem 2rem rgba(1, 1, 1, 0.5);
}

span {
  font-size: 3rem;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hidden {
  display: none;
}

.number-1 {
  background-color: blueviolet;
}

.number-2 {
  background-color: aqua;
}
.number-3 {
  background-color: orangered;
}
.number-4 {
  background-color: olive;
}
.number-5 {
  background-color: thistle;
}
.number-6 {
  background-color: orchid;
}
